{% extends 'itsapp/base.html' %}

{% block extracss %}

{% endblock extracss %}


{% block title %}
notice
{% endblock title %}


{% block noticeactive %}
 active
{% endblock noticeactive %}


{% block bodycontent %}

<h1 class="text-white text-center" style="background-color:rgb(33, 66, 97);"><br><b>Notice:</b><br><br></h1>
<h5 class="text-light">&nbsp;&nbsp;
    Here will provide notices on department issues whatever they want to declare... </h5>

{% endblock bodycontent %}


{% block extrajs %}
{% endblock extrajs %}