{% extends 'itsapp/authbase.html' %}


{% block extracss %}

{% endblock extracss %}


{% block title %}
Student update
{% endblock title %}




{% block bodycontent %}

<div class="card" style="background-color: rgb(0, 0, 0);">
        <form action="" method="POST" class="text-white text-center" >
            {{student_form.as_p }}
            {% csrf_token %}
        
            <input type="submit" value="update" class="bg-warning">
        
        </form>
    </div>
</div>

{% endblock bodycontent %}


{% block extrajs %}
{% endblock extrajs %}