{% extends 'itsapp/emailbase.html' %}


{% block bodycontent %}

<div class="login-form">    
    <form action="/examples/actions/confirmation.php" method="post">
		<div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
    	<h4 class="modal-title">Congratulation! your mail is verified</h4>
        <div class="card text-center">
            Please login
            <a class="btn btn-primary text-white" href="{% url 'loginpage' %}">Login</a>
        </div>
</div>

    
{% endblock bodycontent %}
    